.a121 {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    /* background-color: bisque; */
    margin-bottom: 20px;
}

.c101 {
    opacity: 1;
    transform: none;
    margin-top: 25px;
}

.c102 {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    z-index: 0;
    position: static;
}

.c103 {
    padding-bottom: 24px;
    padding: 24px;
}

.roooow {
    margin-left:0px;
    margin-right:0px;
  }
    
  .cooool {
    float: left;
    padding: 0px;
    width: 45%;
    margin-bottom: 10px;
  }
  
  /* Clearfix (clear floats) */
  .roooow::after {
    content: "";
    clear: both;
    /* display: table; */
  }

  .note{
    text-align: left;
    margin-left: 42px;
    margin-top: 20px;
  }

  .note2{
    margin-left: 50px;
    margin-top: 5px;
  }


.MuiButton-root{
    width: 43%;
}

.save{
    margin-top: 10px;
}

.cancel{
    margin-top: 10px;
}

.err{
  color: red;
  margin-bottom: -19px;
  margin-left: 12px;
  margin-top: -9px;
}

.err11{
  margin-left: 37px;
    margin-top: -10px;
    margin-bottom: -22px;
    color: red;
}