.Appoin {
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    
  }
  
  .p1 {
      margin-top: 2%;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    margin-left: 100px;
    margin-right: 100px;
  }
  